.blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    width: 100px;
    height: 100px;
    background: rgb(143, 7, 7);
    border-radius: 4px;
}